$mainColor: aquamarine;
$mainFont: monospase;

body
{
    background-color: $mainColor;
    color: $mainColor;
    font-family: $mainFont;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

#quote-box
{
    width: 540px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 6px;
    margin-top: 200px;
}